.DS_Store
*.json
*.deb
#*pem
#*crt
k8s/ca.pem
k8s/certs/ca-pem
k8s/certs/ca.crt
k8s/certs/ca.key
k8s/certs/mms-ca.crt
k8s/certs/opsmanager-db-0-pem
k8s/certs/opsmanager-db-0.pem
k8s/certs/opsmanager-db-1-pem
k8s/certs/opsmanager-db-1.pem
k8s/certs/opsmanager-db-2-pem
k8s/certs/opsmanager-db-2.pem
k8s/certs/opsmanager-svc.pem
k8s/certs/server.pem
k8s/server.pem
*.orig
k8s/certs/my-replica-set.crt
k8s/certs/my-replica-set.key
k8s/certs/my-replica-set.pem
k8s/certs/opsmanager-blockstore.crt
k8s/certs/opsmanager-blockstore.key
k8s/certs/opsmanager-blockstore.pem
k8s/certs/opsmanager-db.crt
k8s/certs/opsmanager-db.key
k8s/certs/opsmanager-db.pem
k8s/certs/opsmanager-oplog.crt
k8s/certs/opsmanager-oplog.key
k8s/certs/opsmanager-oplog.pem
*.csr
k8s/certs/opsmanager-svc.crt
k8s/certs/opsmanager-svc.key
