#
# REQUIRED
#
# Enter your Project ID - It can be found in the Ops Manager UI under Settings ->
# Group and ApiKey Settings.
#
#

mmsGroupId=5f3f03d5d91b22007e0d62ad
mmsApiKey=5f3f03d5d91b22007e0d62b55afdeb32fabf7dd67e0d3602981223c1

# Hostname of the Ops Manager web server. The hostname will match what is used
# to access the Ops Manager UI. The default port for an Ops Manager install
# is 8080.
#
# ex. http://opsmanaager.<company>.com:8080
## mmsBaseUrl=http://localhost:8080
###mmsBaseUrl=http://opsmgr:8080
#mmsBaseUrl=http://opsmanager-svc.mongodb.svc.cluster.local:8080
mmsBaseUrl=https://opsmanager-svc.mongodb.svc.cluster.local:8443
sslTrustedMMSServerCertificate=/etc/mongodb-mms/ca.pem
#
# Path to log file
#
logFile=/var/log/mongodb-mms-automation/automation-agent.log

#
# Path to backup cluster config to
#
mmsConfigBackup=/var/lib/mongodb-mms-automation/mms-cluster-config-backup.json

#
# Lowest log level to log.  Can be (in order): DEBUG, ROUTINE, INFO, WARN, ERROR, DOOM
#
logLevel=INFO

#
# Maximum number of rotated log files
#
maxLogFiles=10

#
# Maximum size in bytes of a log file (before rotating)
#
maxLogFileSize=268435456

#
# URL to proxy all HTTP requests through
#
#httpProxy=

#
# Server pool key to register a server to the pool
#
serverPoolKey=

#
# Path to file that agent uses to keep track of data directories per group
#
serverPoolStateFile=/var/lib/mongodb-mms-automation/server-pool.state

#
# Path to file that contains all properties of this agent (server)
#
serverPoolPropertiesFile=/etc/mongodb-mms/server-pool.properties

# For additional optional settings, please see
# https://docs.opsmanager.mongodb.com/current/reference/automation-agent/
