---
apiVersion: mongodb.com/v1
kind: MongoDB
metadata:
  name: my-replica-set
  namespace: mongodb
spec:
  version: 4.2.8-ent # 3.6.20-ent
  type: ReplicaSet
  members: 3 
  opsManager:
    configMapRef:
      name: my-replica-set # Must match metadata.name in ConfigMap file
  credentials: opsmanager-admin-key
  persistent: true
  podSpec:
    cpu: "0.5"
    # note: it's important to always specify memory otherwise wired tiger cache will be calculated incorrectly and
    # monitoring tools will report the size of Kubernetes node instead of the real size of the container
    memory: 500 Mi  # 2Gi
    storage: 1Gi    # 2Gi
  security:
    tls:
      enabled: true # false
      # ca: ca-pem
    authentication:
      enabled : true # false
      modes: ["SCRAM"]
